* {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.main {
  display: flex;
  width: 20rem;
}
.main div {
  background: #00a4ef;
  height: 10rem;
}
.left-section,
.right-section,
main {
  position: relative;
  display: grid;
  gap: 0.4rem;
}
.windows_name {
  margin-top: 1rem;
  color: #00a4ef;
  font-size: 4rem;
}
.left-section {
  width: 40%;
}
.right-section {
  width: 60%;
}
.top-left {
  clip-path: polygon(0 50%, 100% 30%, 100% 100%, 0 100%);
}
.top-right {
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}
.bottom-left {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 50%);
}
.bottom-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}
